<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConnpassViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD75835E1CE76F900026FD0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD7583721CE76F910026FD0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD75837D1CE76F910026FD0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
